/* UTILITIES */
.bg_blue{
    background-color: rgb(83, 179, 235);
}

/* CONTAINER */
.col{
    border: 1px solid purple;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row{
    width: 700px;
    height: 700px;
    border: 1px, solid blue;
}